@import url('../src/css/fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hamburger Menu */

.open {
  transform: rotate(90deg);
  margin-top: 0;
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}